USE [master]
GO
/****** Object:  Database [lb]    Script Date: 2023/6/29 5:29:58 ******/
CREATE DATABASE [lb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lb', FILENAME = N'D:\新闻发布网站\xxgw\App_Data\lb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lb_log', FILENAME = N'D:\新闻发布网站\xxgw\App_Data\lb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lb]
GO
/****** Object:  Table [dbo].[category]    Script Date: 2023/6/29 5:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](50) NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[lbnr]    Script Date: 2023/6/29 5:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lbnr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[contents] [nvarchar](max) NULL,
	[pic] [nvarchar](50) NULL,
	[submitdate] [datetime] NULL,
	[publisher] [nvarchar](50) NULL,
	[categoryid] [int] NULL,
 CONSTRAINT [PK_lbnr] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[yhb]    Script Date: 2023/6/29 5:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yhb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[keys] [nvarchar](50) NULL,
 CONSTRAINT [PK_yhb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([categoryid], [categoryname]) VALUES (1, N'学校要闻')
INSERT [dbo].[category] ([categoryid], [categoryname]) VALUES (2, N'校园快讯')
INSERT [dbo].[category] ([categoryid], [categoryname]) VALUES (3, N'基层动态')
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[lbnr] ON 

INSERT [dbo].[lbnr] ([id], [title], [contents], [pic], [submitdate], [publisher], [categoryid]) VALUES (1, N'党委书记陈仕俊应邀出席宁波市职教学会2023年工作会议暨“职业教育高质量发展”论坛并作经验交流', N'3月28日，以“大力发展适应新技术和产业变革需要的职业教育”为主题的宁波市职业教育学会2023年工作会议暨“职业教育高质量发展”论坛顺利召开，我校党委书记陈仕俊应邀出席并在大会上作经验交流。宁波市教育局副局长王飞、宁波市职业教育学会会长沈剑光等领导出席论坛。', N'~\images\lb1.jpg', CAST(0x0000AFF100902AE8 AS DateTime), N'aa', 1)
INSERT [dbo].[lbnr] ([id], [title], [contents], [pic], [submitdate], [publisher], [categoryid]) VALUES (2, N'学校召开2023年度安全稳定工作会议', N'3月28日下午，学校在中和楼1007召开2023年度安全稳定工作会议，总结2022年工作、研判安全形势、部署 2023年工 作。学校党政领导班子成员、全体中层干部参加会议。会议由党委副书记、校长周志春主持。', N'~\images\lb2.png', CAST(0x0000AFF100902AE8 AS DateTime), N'aa', 2)
INSERT [dbo].[lbnr] ([id], [title], [contents], [pic], [submitdate], [publisher], [categoryid]) VALUES (3, N'学校召开2023年全面从严治党暨“清廉学校”建设推进会', N'3月28日下午，2023年学校全面从严治党暨“清廉学校”建设推进会在中和楼1007召开，校领导班子成员、全体中层干部、各总支纪检委员近70人参加了会议，会议由党委副书记、校长周志春主持。', N'~\images\lb3.png', CAST(0x0000AFF100902AE8 AS DateTime), N'aa', 3)
SET IDENTITY_INSERT [dbo].[lbnr] OFF
SET IDENTITY_INSERT [dbo].[yhb] ON 

INSERT [dbo].[yhb] ([id], [username], [password], [keys]) VALUES (1, N'aa', N'12', N'1')
INSERT [dbo].[yhb] ([id], [username], [password], [keys]) VALUES (2, N'bb', N'23', N'2')
INSERT [dbo].[yhb] ([id], [username], [password], [keys]) VALUES (4, N'小李', N'11', N'2')
SET IDENTITY_INSERT [dbo].[yhb] OFF
ALTER TABLE [dbo].[lbnr] ADD  CONSTRAINT [DF_lbnr_submitdate]  DEFAULT (getdate()) FOR [submitdate]
GO
USE [master]
GO
