<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="lbConnectionString" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString2" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString3" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString4" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString5" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString6" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString7" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="xw1" connectionString="server=.;database=lb;integrated security=true" />
        <add name="lbConnectionString8" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString9" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString10" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString11" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString12" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString13" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString14" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString15" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString16" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lbConnectionString17" connectionString="Data Source=.;Initial Catalog=lb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
